html,
body {
    padding: 0;
    margin: 0;
    top: 0px;
    overflow-x: hidden;
}

#header {
    width: 100%;
    background-color: black;
    height: 75px;
    padding: 10px;
}

#menu-logo:hover {
    border: 4px solid white;
    background-color: green;
}

#menu-logo {
    float: right;
    right: 35px;
    top: 10px;
    position: relative;
    display: none;
}

#menu {
    color: white;
    height: 100%;
    width: 60%;
    position: fixed;
    left: 50%;
}

ol {
    position: relative;
}

li:hover {
    background-color: darkgray;
    border-radius: 10px;
}

@media (max-width: 500px) {
    ol {
        display: none;
    }
    #menu-logo {
        display: initial;
    }
}

li {
    display: inline-block;
    height: 100%;
    padding: 10px;
}

#join {}

#body {}